IBM_API_KEY=aTUbSY074SLfRGAvmSQgvTXQtUugGfYsYZ86MIGaq_FC
IBM_PROJECT_ID=6e5a2cc4-51b4-45eb-9acd-d023a3319340

IBM_WATSONX_URL=https://au-syd.ml.cloud.ibm.com

FLASK_SECRET_KEY=c895837bbcd4c329271ddba728cb8c4da7f30bcb8ea798a7e5858a40e897bf90
FLASK_ENV=development
FLASK_DEBUG=True
PORT=5000